
# Ignore vim stuff
*.swp
*.swo

# Ignore config
site_config.ini

# Ignore the image directory
/img

# Ignore error log
error_log

# Ignore Composer, except .json
/vendor
composer.lock
composer.phar

