
body {
  padding-bottom: 60px;
}

h1 {
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.center {
  text-align: center;
}

#top_col {
  position: relative;
  height: 10px;
}
#drag {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  cursor: s-resize;
}

#preview {
  border-top-color: cornflowerblue;
  border-top-style: double;
}

#overlay {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 50px;
  color: #01313F;
  font-size: 40px;
  z-index: 10;
  background-color: darkcyan;
}
#resizable {
  height: 500px;
  padding: 5px;
  border-bottom: 3px solid red
}

#resizable h3 {
  text-align: center;
  margin: 0;
}

#resizable{
  position: relative
}

#editor{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

html.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
