
RewriteEngine on

#===================================
# For testing
#RewriteRule test test.php [QSA,L]
#===================================

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/public/

RewriteRule ^ index.php [QSA,L]

#RewriteRule . /index.php [L]
