{% extends "_base.twig" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/ace_set.js" type="text/javascript" charset="utf-8"></script>

  <h2>Update/Publish article</h2>
  <p id="result"></p>
  <div id="col1" class="col-md-12">
  <form method="post" action="" id="publish_form">

    <div class="form-group">
      <label for="update_art">Update article:</label>
      <select class="form-control" id="article_sel" name="article_sel">
        <option value = "null">Select article to update</option>
        {% for page in currentPages %}
          <option value="{{ page.id }}">{{ page.title }} </option>
        {% endfor %}
      </select>
      <button id="delete" type="button" class="btn btn-primary">delete</button>
    </div>

    <div class = "checkbox">
      <label><input type="checkbox" id="is_published" name="is_published" value="">published</label>
    </div>

    <div class="form-group">
      <label for="url">Url:</label>
      <input type="text" class="form-control" id="url" name="url" value=""/>
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" value=""/>
    </div>

    <div class="form-group">
      <label for="blurb">Blurb:</label>
      <textarea  class="form-control" id="blurb" name="blurb"></textarea>
    </div>

    <div id="body_group" class="form-group">
      <label for="body">Body: </label>
      <div class='center' style="float: right;">
      <label class="radio-inline">
        <input id='radioAuto' type="radio" name="optradio" value="auto" checked="checked">auto
      </label>
      <label class="radio-inline">
        <input id='radioSplit' type="radio" name="optradio" value="split">split
      </label>
      <label class="radio-inline">
        <input id='radioStack' type="radio" name="optradio" value="stack">stack
      </label>
      </div>
      <textarea class="form-control" id="body" name="body" data-editor="markdown" rows="30"></textarea>
    </div>

    <input id= "submit" type="submit" name="submit" value="Create"/>
    <button id="prev" type="button" class="btn btn-primary">preview</button>
    <button id="update" type="button" class="btn btn-primary">update</button>
  </form>
  </div> <!--end form column-->

  <div id="col2" class="col-md-12"> <!--preview column should float on right-->
  <div id="preview">
  </div>
  </div> <!--end preview column-->

<script src="/scripts/publish.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
